@import url('reset.css');
:root {
  /* color */
  --color-satgreen: #7ebdb4;
  --color-darksatgreen: #5d8a85;
  --color-satbeige: #f6d198;
  --color-satorange: #f4a548;
  --color-boldpurp: #862a5c;
  --color-dark-grey: #4d4d4d;
  --color-whitesmoke: #f5f5f5;

  --color-plainwhite: #feffff;
  --color-black: #17252a;
  --color-myrtlegreen: #2b7a78;
  --color-keppel: #3aafa9;
  --color-azureish-green: #def2f1;

  /* font-size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* font-weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}
/* Universal tags */
* {
  box-sizing: border-box;
}
html {
  background-color: var(--color-keppel);
}

body {
  font-family: 'Fira Code', monospace;
  cursor: default;
  heihgt: 100vh;
  /* margin: auto; */
}

.section {
  margin: auto;
  padding: 60px 0;
  max-width: 1200px;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  margin: 16px 0px;
}
h2 {
  font-size: var(--font-medium);
  /* font-weight: var(--weight-semi-bold); */
  color: var(--color-black);
  margin: 16px 0px;
}
h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 8px 0px;
}
p {
  font-size: var(--weight-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0px;
}
a {
  text-decoration: none;
  color: var(--color-plainwhite);
}
ul {
  list-style: none;
  padding-left: 0;
}
nav {
  margin: auto;
  max-width: 100vw;
}
button {
  background-color: transparent;
  color: var(--color-plainwhite);
  cursor: pointer;
  border: none;
  outline: none;
}

/* navbar */
#navbar {
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  /* box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.5); */
  transition: all 0.2s ease;
  z-index: 2;
}
#navbar.hide {
  padding: 8px;
  top: -60px;
  z-index: 2;
}
.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-azureish-green);
  padding: 16px;
}
.navbar__menu {
  display: flex;
  justify-content: space-between;
}
.navbar__border {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.navbar__menu__item {
  padding: 8px 4px;
  margin: 0 12px;
  cursor: pointer;
  font-weight: var(--weight-bold);
  color: var(--color-azureish-green);
}
.navbar__menu__item.active {
  border-bottom: 2px solid var(--color-azureish-green);
}
.navbar__menu__item:hover {
  color: var(--color-plainwhite);
}
.navbar__toggle-btn {
  position: absolute;
  top: 20px;
  right: 24px;
  font-size: 24px;
  color: var(--color-azureish-green);
  z-index: 99;
  display: none;
}

/* home */
#home {
  background-color: var(--color-keppel);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.home__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 80px 24px;
  border: 2px solid var(--color-azureish-green);
  border-radius: 4px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.icon__set {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 12px;
}
.icon__set a {
  width: 36px;
  height: 36px;
  margin-left: 18px;
}
.icon__set i {
  font-size: 36px;
  text-align: center;
  cursor: pointer;
  /* color: var(--color-black); */
  color: var(--color-azureish-green);
}
.icon__set i:hover {
  color: var(--color-plainwhite);
}
.home__left__column {
  width: auto;
  padding: 24px;
}
.home__right__column {
  width: 50%;
  padding: 24px;
  line-height: 18px;
}
.home__right__column p {
  font-size: 18px;
  margin-bottom: 15px;
  text-align: left;
}
.home__container .home__skillset {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 200px));
  padding: 0px;
  margin: 20px 0px 0px;
  list-style: none;
}

.home__skillset li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
}
.home__skillset li::before {
  content: '\2023';
  position: absolute;
  left: 0px;
  line-height: 16px;
  color: var(--color-azureish-green);
}

.home__title {
  color: var(--color-azureish-green);
  margin-bottom: 12px;
  letter-spacing: 0.15em;
}
.home__title h1 {
  color: var(--color-black);
  margin-top: 24px;
}
.home__description {
  font-family: 'Crimson Text', serif;
  font-size: var(--font-regular);
  width: 65%;
  /* text-align: left; */
}
.home__description span {
  /* color: #9b1121; */
  font-style: italic;
}
.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  color: var(--color-azureish-green);
  margin-top: 24px;
  padding: 8px 16px;
  background-color: var(--color-myrtlegreen);
  border: 2px solid var(--color-myrtlegreen);
  border-radius: 2px;
}
.home__contact:hover {
  border: 2px solid var(--color-myrtlegreen);
  background-color: transparent;
}

/* Projects */
#projects {
  /* position: relative; */
}
.project__wrapper {
  padding: 24px;
}
.projects__headline {
  margin: 12px 0 80px;
  text-align: center;
  font-size: var(--font-large);
}
.project__container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  align-items: center;
  /* width: 100%; */
  margin-bottom: 80px;
}
.project__img {
  background-color: var(--color-black);
  position: relative;
  grid-area: 1 / 1 / -1 / 8;
  border-radius: 4px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.project__img img {
  width: 100%;
  height: 100%;
}

.project__container:nth-of-type(2n + 1) .project__img {
  grid-column: 6 / -1;
}

.project__content {
  grid-area: 1 / 7 / -1 / -1;
  text-align: right;
  z-index: 1;
}
.project__container:nth-of-type(2n + 1) .project__content {
  grid-column: 1 / 8;
  text-align: left;
}

.project__title {
  font-weight: var(--weight-bold);
  color: var(--color-azureish-green);
  font-size: var(--font-medium);
}
.project__skills {
}
.skill__lists {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 15px 0 15px;
}
.project__container:nth-of-type(2n + 1) .skill__lists {
  justify-content: flex-start;
}
.skill__lists li {
  margin: 0 0 5px 12px;
}
.project__container:nth-of-type(2n + 1) .skill__lists li {
  margin: 0 12px 5px 0;
}
.project__desc {
  padding: 20px;
  border-radius: 4px;
  background-color: var(--color-myrtlegreen);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.project__desc p {
  text-align: left;
}
.project__desc li {
  margin-bottom: 5px;
}

.project__desc ul li {
  opacity: 1;
  color: var(--color-azureish-green);
  list-style-position: outside;
  list-style: circle;
  margin-left: 1.2em;
}
.project__desc:nth-of-type(2n + 1) ul li {
  text-align: left;
  color: var(--color-azureish-green);
  margin-right: 1em;
}
.project__links {
}
.link__lists {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 15px 0 20px;
}
.project__container:nth-of-type(2n + 1) .link__lists {
  justify-content: flex-start;
}

.link__lists li {
  margin-left: 12px;
}
.project__container:nth-of-type(2n + 1) .link__lists li {
  margin-left: 0;
  margin-right: 12px;
}
/* contact */
#contact {
  height: 400px;
  /* margin: auto; */
}
.contact__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 24px;
}
.contact__title,
.contact__form__title {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  margin-bottom: 18px;
}

.contact__wrapper p {
  max-width: 500px;
  text-align: center;
}

.contact__info .row {
  display: flex;
  height: 60px;
  padding: 15px;
  margin: 20px 0;
  align-items: center;
  background: var(--color-myrtlegreen);
  border: 2px solid var(--color-myrtlegreen);
  border-radius: 2px;
  cursor: pointer;
}
.contact__info .row:hover {
  background: transparent;
  border: 2px solid var(--color-myrtlegreen);
  border-radius: 2px;
}
.contact__info__contents {
  margin-left: 24px;
}
.contact__info i {
  font-size: 24px;
  color: var(--color-azureish-green);
}
.contact__info__contents .head {
  font-weight: var(--weight-regular);
  color: var(--color-whitesmoke);
}
.contact__info__contents .sub-title a {
  color: var(--color-black);
}

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.contact__links i {
  font-size: var(--font-large);
  color: var(--color-dark-grey);
  margin: 24px 0;
  transition: all 150ms ease-in;
}
.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-satbeige);
}

/* for below 768px */
@media screen and (max-width: 768px) {
  :root {
    /* font-size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }
  .navbar__toggle-btn {
    display: block;
    font-size: var(--font-medium);
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 88;
    background-color: var(--color-black);
  }
  .navbar__logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    padding: 8px;
  }
  .navbar__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: var(--color-myrtlegreen);
    background-color: var(--color-myrtlegreen);
    z-index: 2;
    /* text-align: center; */
    /* padding-top: 60px; */
    transition: all 0.15s ease;
  }
  .navbar__border {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color-plainwhite);
    width: 300px;
    height: 500px;
  }
  .navbar__menu.open {
    left: 0;
  }
  body.menu-open {
    overflow-y: hidden;
  }
  .navbar__menu__item {
    margin: 24px;
  }
  .navbar__menu__item.active {
    border: 2px solid var(--color-darksatgreen);
    border-radius: 4px;
  }
  .section {
    padding: 36px 18px;
    overflow: hidden;
  }

  #home {
    height: 100%;
  }
  .home__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: none;
    padding: 60px 0;
  }
  .home__left__column {
    width: 100%;
    padding: 0;
    margin-bottom: 16px;
  }
  .home__right__column {
    width: 100%;
    padding: 0;
    margin-top: 16px;
  }
  .home__container .home__skillset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px;
    margin: 20px 0px 0px;
    list-style: none;
  }

  .home__skillset li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
  }
  .home__skillset li::before {
    content: '\2023';
    position: absolute;
    left: 0px;
    line-height: 16px;
    color: var(--color-azureish-green);
  }
  .icon__set {
    display: flex;
    justify-content: center;
    margin-top: 0;
  }
  .icon__set i {
    font-size: 32px;
    /* margin-left: 24px; */
  }
  .project__wrapper {
    padding: 0;
  }
  .project__container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0;
    margin-bottom: 40px;
    width: 100%;
  }
  .project__img {
    grid-area: 1 / 1 / 2/ 2;
    opacity: 25%;
  }
  .project__container:nth-of-type(2n + 1) .project__img {
    grid-column: 1 / 2;
  }
  .project__content {
    padding: 18px;
    font-size: var(--font-regular);
    /* width: 100%;
    height: 100%; */
    grid-area: 1 / 1 / 2 / 2;
  }
  .project__container:nth-of-type(2n + 1) .project__content {
    grid-column: 1 / 2;
  }
  .project__skills {
    font-size: var(--font-micro);
    width: 100%;
  }
  .project__desc {
    background-color: transparent;
    box-shadow: none;
    font-size: var(--font-small);
  }
  .project__links {
    font-size: var(--font-small);
  }
  .contact__wrapper {
    padding: 0;
  }
}
